/* app css stylesheet */

html,
body {
  background-color: #000928;
  color: #fff;
}

a {
  color: #fff;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu>li {
  display: inline;
}

.menu>li+li:before {
  content: "|";
  padding-right: 0.3em;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radar-chart-serie0 {
  fill: rgb(10, 87, 244) !important;
  fill-opacity: .1 !important;
  stroke: rgb(10, 87, 244) !important;
}

.radar-chart-serie1 {
  fill: rgb(142, 237, 39) !important;
  fill-opacity: .1 !important;
  stroke: rgb(142, 237, 39) !important;
}

.radarArea,
.radarStroke {
  pointer-events: none;
}

.legend-arrow {
  fill: #8eed27;
  width: 16px;
  height: 16px;
}

.legend-arrow--down {
  transform: translateX(10px) rotate(90deg);
  fill: #fd4a4a;
}

.ysa-radar-gradient__first {
  stop-color: #2E354E;
  stop-opacity: 1;
}

.ysa-radar-gradient__second {
  stop-color: rgba(0, 9, 40, 0.00);
  stop-opacity: 1;
}

.ysa-radar-axis-wrapper line {
  stroke: #262e47;
  stroke-width: 1px;
  stroke-dasharray: 3px;
}

.ysa-radar-levels__item line {
  stroke: grey;
  stroke-opacity: 1;
  stroke-width: 0.35px;
}

.ysa-radar-legends__item text {
  fill: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.ysa-radar-legends__item tspan {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.09px;
}

.ysa-radar-circles__item {
  fill: #fff;
  cursor: pointer;
}

.ysa-radar-progress {
  fill: #333A53;
  height: 2px;
}

.ysa-radar-progress__rect {
  height: 2px;
}

.ysa-radar-average {
  font-size: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: -0.43px;
  fill: #fff;
  text-anchor: middle;
}

.ysa-radar-hidden {
  display: none !important;
}